@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
background: url("./pexels-quintin-gellar-313782.jpg");
background-size: cover;
background-repeat: no-repeat;
backface-visibility: 60%;
}
.main{
    background-color: black;
    width: 400px;
    margin: 300px auto;
    height: 165px;
    position: relative;
    padding: 10px;
    border-color: darkred;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;

}

.badge{
    width: 120px;
    background: darkred;
    color: white;
    padding: 5px 10px;
    font-family: poppins;
    font-weight: bold;
    position:absolute;
    top: -25px;
    left: 35%;
    border-radius: 30px;
    font-size: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.clock{
    background: #ebebeb;
    text-align: center;
    font-size: 60px;
    height: 100%;
    padding-top: 25px;
    font-family: Cinzel;
    border-radius: 10px;
    color: darkred;

}